/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/**/workspace.xml
.idea/**/usage.statistcis.xml
.idea/**/tasks.xml
.idea/shelf/
.idea/**/*.iml
.idea/dataSources/
.idea/dataSources.*
